/*Les Variables*/
$clrs-txt-grey: #353535;
$color-icon: #7e7e7e;
$clrs-bck-grnd-grey: #f6f6f6;
$violet: #9356dc;
$color-violet-gradiant: linear-gradient(180deg, adjust-hue($violet, 40deg),$violet);
$shadow-div: 0px 4px 8px 1px #d5d5d5;
$border25: 25px;
