

/*Les Variables*/
$clrs-txt-grey: #353535;
$color-icon: #7e7e7e;
$clrs-bck-grnd-grey: #f6f6f6;
$violet: #9356dc;
$color-violet-gradiant: linear-gradient(180deg, adjust-hue($violet, 40deg),$violet);
$shadow-div: 0px 4px 8px 1px #d5d5d5;
$border25: 25px;

/*les placehaulder*/

%center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*centrer les elements avec le padding*/
%centre-pad {
    display: flex;
    flex-direction: column;
    padding:0px 20px 0px 20px;
}
/*ombre porter pour les divs*/

%background-violet-gradiant{
    background: linear-gradient(180deg, adjust-hue($violet, 40deg),$violet);
}

/*le header*/

%header {
    grid-area: header;
    @extend %center-element;
    z-index: 2;
    box-shadow: 0px 3px 4px #d5d5d5;
    
}



/*les mixins*/

/*le footer*/
@mixin footer {
    grid-area: footer;
    background-color: #353535;
    @extend %center-element;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px;
    &__logo {
        color: white;
        width: 100px;
        font-family: "Shrikhand";
    }

    &__containt {
        color:white;
        text-decoration: none;
        &__icon {
            padding-right: 10px;
            width: 20px;
        }

    }
    
}

/*forme carre*/
@mixin form-container($min-w:100%, $h:0px, $pad: 5px){
    min-width:$min-w;
    height: $h;
    padding: $pad;
    
}

/*mixin pour les bouton violet*/
@mixin btn {
    font-weight: bold;
    border-radius: $border25;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 8px 1px #d5d5d5;
    outline: none;
    z-index: 1;
    transform: scale(1);
    transition: transform 50ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
    
    &:active{
        &::after {
            opacity: 1;
        }

        transform: scale(1.03);
        box-shadow: 0px 4px 10px 4px #d5d5d5;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        background-color: lighten($violet, 15%);
        z-index: -1;
        transition: all 150ms;
        
    }
}
/*les coeurs*/
@mixin heart {
    padding-right: 20px;
    font-size: 20px;
    position: relative;
    
    
    &:hover{
        
        &::after{
            opacity: 1;
            animation-name: animation-heart;
            animation-duration: 150ms;
            
        }
        
    }
    
    &::after {
        content: "\f004";
        position: absolute;
        @extend %background-violet-gradiant;
        font-weight: 900;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        opacity: 0;
        top: -2px;
        bottom: -12px;
        left: -2px;
        right: 0px;
    }
}



/*Les keyframe*/
/*Animation du coeur*/
@keyframes animation-heart {
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(1.15);
    }

    100%{
        transform: scale(1);
    }
}




/*Géneral*/

*{
    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
}


.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    @extend %center-element;
    background-color: white;
    color: darken($color: $violet, $amount: 25);
    visibility: hidden;
    animation: loading 3s linear 1;
    z-index: 3;
    @keyframes loading {
        0%{visibility: visible;
        position: fixed;}
        90%{visibility: visible;
        position: fixed;}
        100%{ visibility: hidden;}    
    }

    &__lettre {
        font-size: 2rem;
        letter-spacing: 3px;
        font-family: "shrikhand";
        animation: Brillante 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;

        @keyframes Brillante {
            0%{
                color: $violet;
                text-shadow: 0 0 7px $violet;
                
            }
            90% {
                color: darken($color: $violet, $amount: 25);
                text-shadow: none; 
            }
            100%{

                color: $violet;
                text-shadow: 0 0 7px $violet;
            }
        }

    }
    
}

body{

    animation: visible-body 3s linear 1;
    @keyframes visible-body {
        0%{visibility: hidden;
        height: 40px;
        overflow: hidden;}
        99%{visibility: hidden;
        height: 40px;
         overflow: hidden;}
        100%{visibility: visible;} 
    }
}
.center-pad{
    @extend %centre-pad;
}

/*containeur génerale*/
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 340px 440px 1230px 200px;
    grid-template-areas: 
        "header"
        "nav"
        "foctio"
        "resto"
        "footer";

}


.header {
    @extend %header;
    &__logo {
        width: 50%;
    }
}


.nav {
    grid-area: nav;
    z-index: 1;
    @extend %center-element;
    flex-direction: column;
    position: relative;
    background-color: $clrs-bck-grnd-grey;
    
    &__position{
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #eaeaea;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__location{
            
            display: flex;
            width: 150px;
            justify-content: space-around;
            color: $clrs-txt-grey;
            
            &__ville {
                color: $clrs-txt-grey;
                
            }
        }
    }

    &__titre{
        width: 250px;
        text-align: center;
    }

    &__sous-titre {
        width: 310px;
        text-align: center;
        font-weight: 300;
        padding: 20px 0 20px 0;

    }

    &__btn{
        @include btn;
        @extend %background-violet-gradiant;
        @include form-container($min-w: 220px,$h: 50px);
        color: white;
        overflow: hidden;

    }

}


.operation {
    
    grid-area: foctio;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        margin-bottom: 25px;
    }

    &__step {
        @include form-container($h:70px, $pad:0px);
        @include btn;
        position: relative;
        @extend %center-element;
        justify-content: flex-start;
        margin-bottom: 30px;
        z-index: 1;

        &:active {

            &::after{
                opacity: 1;
            }

            .operation__step__icon {

                color: $violet;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-color: transparentize($violet, 0.90);
            border-radius: $border25;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            top: 0;
            right: 0;
            bottom: 0;  
            left: 0;
        }
        
        &__nber {
            position: absolute;
            left: -10px;
            @extend %center-element;
            width: 25px;
            height: 25px;
            background-color: $violet;
            border-radius: 50%;
            color: white;
            z-index: 1;
            
        }

        &__icon {
            color: $color-icon;
            margin-left: 30px;
            z-index: 1;

        }
    

        &__describes {
            margin-left: 25px;
            font-weight: bolder;
        }
    
    }
  
}


.reslt-restaurant {
    grid-area: resto;
    width: 100%;
    background-color: $clrs-bck-grnd-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__title {
        width: 250px;
        text-align: start;
    }

    &__containeur {
        @extend %center-element;
        @include form-container($min-w:100%, $pad:0px, $h:250px);
        box-shadow: $shadow-div;
        border-radius: $border25;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &__lien {
            display: flex;
            width: auto;
            height: 100%;
    
            & > img {
            
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 1;
                
            }

            

            
        }

        &:nth-child(2) > .reslt-restaurant__containeur__lien > img{
            object-position: -56px -53px;
            
        }

       

        &:nth-child(3) > .reslt-restaurant__containeur__lien > img {
            object-position: 0px -109px;

        }

        &:nth-child(4) > .reslt-restaurant__containeur__lien > img {
            object-position: -20px -72px;

        }

        &:nth-child(5) > .reslt-restaurant__containeur__lien > img {
            object-position: -25px -72px;
        }

        
        &:nth-child(2){

            &::before {
                content: "Nouveau";
                position: absolute;
                right: 12px;
                top: 13px;
                box-shadow: 0px 4px 8px 1px black;
                border-radius: 2px;
                color: #008766;
                background-color: #99e2d0;
                font-size: 0.9rem;
                width: 80px;
                height: 30px;
                @extend %center-element;
                z-index: 2;
            }
        }
        
        
        &:nth-child(3){

            &::before {
                content: "Nouveau";
                position: absolute;
                right: 12px;
                top: 13px;
                box-shadow: 0px 2px 8px -5px black;
                color: #008766;
                background-color: #99e2d0;
                font-size: 0.9rem;
                width: 80px;
                height: 30px;
                @extend %center-element;
                z-index: 2;
            }
        }

        

        &__describes {
            display: flex;
            position: absolute;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            bottom: 0px;
            height: 75px;
            background-color: white;
            z-index: 2;
            & > p {
                padding-left: 20px;
                font-weight: 300;
                line-height: 25px;

                & > em {
                    font-style: normal;
                    font-weight: 900;
                }
            }
            & > .fa-heart {
                @include heart;
            
            }
            
 
        }


    }

    .center-pad{
        padding-top: 20px;
        display: flex;
        height: 1120px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;  
    }

    
}

.footer {

    @include footer;
}

/*Les menues*/
/*containeur générale*/
#container--menue{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1415px 200px;
    grid-template-areas: 
        "header"
        "menue"
        "footer";
}



.header--menue{

    @extend %header;
    box-shadow: 0px 3px 4px #3a3942;
    align-items: center;
    justify-content: center;
    position: relative;
    &__logo {
        width: 50%;
    }

    &__lien {
        position: absolute;
        left: 15px;
        top:20px;

        & > .fas {
            font-size: 20px;
            color: #353535;
        }
    }    

}

.menue {

    grid-area: menue;
    position: relative;
    &__img > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__liste{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 170px;
        right: 0px;
        left: 0px;
        border-radius: 30px 30px 0 0;
        padding-top: 45px;
        background-color: $clrs-bck-grnd-grey;

        &__title-heart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &__title {
                font-family: "Shrikhand";
            }

            & > .far{
                @include heart;
            }

        }
        

        
    }

}

.footer {
    @include footer;
    z-index: 1;
}



