/*le header de la page d'acceuil*/
.header {
    grid-area: header;
    @extend %header;
    &__logo {
        width: 10rem;
        @include respond-to(small) {
            width: 13rem;
        }
    }
}