.nav {
    grid-area: nav;
    z-index: 1;
    @extend %center-element;
    flex-direction: column;
    position: relative;
    background-color: $clrs-bck-grnd-grey;
    
    &__position{
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #eaeaea;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__location{
            
            display: flex;
            width: 150px;
            justify-content: space-around;
            color: $clrs-txt-grey;
            
            &__ville {
                color: $clrs-txt-grey;
                
            }
        }
    }

    &__titre{
        width: 250px;
        text-align: center;
        @include respond-to(very-small) {
            width: 100%;
        }
    }

    &__sous-titre {
        width: 310px;
        text-align: center;
        font-weight: 300;
        padding: 20px 0 20px 0;

    }

    &__btn{
        @include btn;
        @extend %background-violet-gradiant;
        @include form-container($h: 50px);
        min-width: 220px;
        color: white;
        overflow: hidden;
        @include respond-to(very-small) {
            font-size: 1rem;
        }

    }

}
