/*--partie les etapes du foctionnement du site*/
.operation {
    grid-area: foctio;
    @extend %center-element;
    flex-direction: column;

    @include respond-to(small) {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     column-gap: 20px;
     justify-items: center;
    }
    @extend %centre-pad;
    &__title {
        margin-bottom: 25px;
        align-self: flex-start;
        @include respond-to(small) {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 40px;
            left: 0;
            right: 0;
            text-align: center;
            
           }

        @include respond-to(very-small) {
            align-self: center;

        }
    }
    /*les différentes étapes*/
    &__step {
        @include form-container($h:70px, $pad:0px);
        width: 100%;
        max-width: 400px;
        @include btn;
        position: relative;
        @extend %center-element;
        justify-content: flex-start;
        margin-bottom: 30px;
        z-index: 1;
        @include respond-to(very-small) {
            justify-content: center;
        }

        @include respond-to(small) {
            min-width: 100px;
        }

        &:active {

            &::after{
                opacity: 1;
            }

            .operation__step__icon {
                color: $violet;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-color: transparentize($violet, 0.90);
            border-radius: $border25;
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            top: 0;
            right: 0;
            bottom: 0;  
            left: 0;
        }
        /*les numeros d'étapes*/
        &__nber {
            position: absolute;
            left: -10px;
            @extend %center-element;
            width: 25px;
            height: 25px;
            background-color: $violet;
            border-radius: 50%;
            color: white;
            z-index: 1;
            
        }
        /*les icones*/
        &__icon {
            color: $color-icon;
            margin-left: 30px;
            z-index: 1;
            @include respond-to(very-small) {
                font-size: 20px;
            }

        }
        /*les déscriptions*/
        &__describes {
            margin-left: 25px;
            font-weight: bolder;
        }
    
    }
  
}