/*les résultats des réstaurant trouvé */
.reslt-restaurant {
    grid-area: resto;
    @extend %centre-pad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    background-color: $clrs-bck-grnd-grey;
    /*le titre*/
    &__title {
        margin-bottom: 60px;
        align-self: flex-start;
        @include respond-to(very-small) {
            align-self: center;
        }
        
    }
    /*les containeurs*/
    &__containneur {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        width: 100%;
        column-gap: 20px;
        row-gap: 40px;
        max-width: 1100px;
        @extend %center-element;
        
        @include respond-to(small) {
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            
        }
        
        &__containt {
            @extend %center-element;
            @include form-container($pad:0px, $h:250px);
            max-width: 500px;
            box-shadow: $shadow-div;
            border-radius: $border25;
            overflow: hidden;
            position: relative;
            z-index: 1;
    
            &__lien {
                display: flex;
                width: auto;
                height: 100%;
        
                & > img {
                
                    object-fit: cover;
                    width: 100%;
                    
                    z-index: 1;
                    
                }
            }
            /*les images*/
            &:nth-child(1) > .reslt-restaurant__containneur__containt__lien > img{
                object-position: -56px -53px;
                @include respond-to(very-small) {
                    align-items: center;
                    object-position: 0px -75px;
                }
 
            }
            &:nth-child(2) > .reslt-restaurant__containneur__containt__lien > img {
                object-position: 0px -109px;
                @include respond-to(very-small) {
                    align-items: center;
                    object-position: 0px -239px;
                }
            }
    
            &:nth-child(3) > .reslt-restaurant__containneur__containt__lien > img {
                object-position: -20px -72px;
                @include respond-to(very-small) {
                    align-items: center;
                    object-position: 0px -75px;
                }
            }

            &:nth-child(4) > .reslt-restaurant__containneur__containt__lien > img {
                object-position: -25px -72px;
                @include respond-to(very-small) {
                    align-items: center;
                    object-position: 0px -76px;
                }

                @include respond-to(small) {
                    align-items: center;
                    object-position: 0px -116px;
                }
            }
            /*les nouveaux*/
            &:nth-child(1){
    
                &::before {
                    content: "Nouveau";
                    position: absolute;
                    right: 12px;
                    top: 13px;
                    box-shadow: 0px 4px 8px 1px black;
                    border-radius: 2px;
                    color: #008766;
                    background-color: #99e2d0;
                    font-size: 0.9rem;
                    width: 80px;
                    height: 30px;
                    @extend %center-element;
                    z-index: 2;
                }
            }
            
            
            &:nth-child(2){
    
                &::before {
                    content: "Nouveau";
                    position: absolute;
                    right: 12px;
                    top: 13px;
                    box-shadow: 0px 2px 8px -5px black;
                    color: #008766;
                    background-color: #99e2d0;
                    font-size: 0.9rem;
                    width: 80px;
                    height: 30px;
                    @extend %center-element;
                    z-index: 2;
                }
            }
            /*la déscription des réstaurants*/
            &__describes {
                display: flex;
                position: absolute;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                bottom: 0px;
                height: 75px;
                background-color: white;
                z-index: 2;
                & > p {
                    padding-left: 20px;
                    font-weight: 300;
                    line-height: 25px;
    
                    & > em {
                        font-style: normal;
                        font-weight: 900;
                    }
                }
                & > .fa-heart {
                    @include heart;
                }
            }
        }
    }
}
    