/*Géneral*/

*{
    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
}

.center-pad {
    @extend %centre-pad;
}

@import 
    'abstracts/mixins',
    'abstracts/placeholders',
    'abstracts/variables';

@import
    'components/loader';

 @import 
    'layout/grid',
    'layout/header',
    'layout/navigation',
    'layout/sect-operation',
    'layout/sect-restaurant',
    'layout/footer';